body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background: linear-gradient(135deg, #f5ebf3, #deecf9, #d7e9fb);
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 90%;
  box-sizing: border-box;
}

.thank-you-container img.logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 30px;
}

.thank-you-container h1 {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.thank-you-container p {
  font-size: 1em;
  margin: 0;
}

@media (min-width: 768px) {
  .thank-you-container {
    width: 80%;
    height: 30%;
    align-items: center;
  }

  .thank-you-container h1 {
    font-size: 60px;
  }

  .thank-you-container p {
    padding-top: 10px;
    font-size: 50px;
  }
}
